services:
  web:
    build:
      context: ..
      dockerfile: docker/django.Dockerfile
    container_name: mysite_web
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ..:/app
    env_file:
      - ./../.env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: mysite_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: mysite_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
